.project
.release.env
.settings
.classpath
releases
yarn-error.log
target/
.idea/
.site-src/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
*.iml
website
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230612-124004659/standalone.v1.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230612-124004659/standalone.v10.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230612-124004659/standalone.v11.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230612-124004659/standalone.v12.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230612-124004659/standalone.v2.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230612-124004659/standalone.v3.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230612-124004659/standalone.v4.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230612-124004659/standalone.v5.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230612-124004659/standalone.v6.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230612-124004659/standalone.v7.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230612-124004659/standalone.v8.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230612-124004659/standalone.v9.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-205813998/standalone.v1.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-205813998/standalone.v10.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-205813998/standalone.v11.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-205813998/standalone.v12.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-205813998/standalone.v2.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-205813998/standalone.v3.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-205813998/standalone.v4.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-205813998/standalone.v5.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-205813998/standalone.v6.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-205813998/standalone.v7.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-205813998/standalone.v8.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-205813998/standalone.v9.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-213308159/standalone.v1.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-213308159/standalone.v10.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-213308159/standalone.v11.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-213308159/standalone.v12.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-213308159/standalone.v2.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-213308159/standalone.v3.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-213308159/standalone.v4.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-213308159/standalone.v5.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-213308159/standalone.v6.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-213308159/standalone.v7.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-213308159/standalone.v8.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-213308159/standalone.v9.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-220114077/standalone.v1.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-220114077/standalone.v10.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-220114077/standalone.v11.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-220114077/standalone.v12.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-220114077/standalone.v2.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-220114077/standalone.v3.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-220114077/standalone.v4.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-220114077/standalone.v5.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-220114077/standalone.v6.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-220114077/standalone.v7.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-220114077/standalone.v8.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-220114077/standalone.v9.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-223400741/standalone.v1.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-223400741/standalone.v10.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-223400741/standalone.v11.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-223400741/standalone.v12.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-223400741/standalone.v2.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-223400741/standalone.v3.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-223400741/standalone.v4.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-223400741/standalone.v5.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-223400741/standalone.v6.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-223400741/standalone.v7.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-223400741/standalone.v8.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-223400741/standalone.v9.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-224802687/standalone.v1.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-224802687/standalone.v10.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-224802687/standalone.v11.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-224802687/standalone.v12.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-224802687/standalone.v2.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-224802687/standalone.v3.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-224802687/standalone.v4.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-224802687/standalone.v5.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-224802687/standalone.v6.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-224802687/standalone.v7.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-224802687/standalone.v8.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230614-224802687/standalone.v9.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230615-095023670/standalone.v1.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230615-095023670/standalone.v10.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230615-095023670/standalone.v11.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230615-095023670/standalone.v12.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230615-095023670/standalone.v2.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230615-095023670/standalone.v3.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230615-095023670/standalone.v4.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230615-095023670/standalone.v5.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230615-095023670/standalone.v6.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230615-095023670/standalone.v7.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230615-095023670/standalone.v8.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/20230615-095023670/standalone.v9.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/current/standalone.v1.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/standalone.boot.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/data/apicurio.mv.db
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/current/standalone.v1.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/standalone.boot.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/data/apicurio.mv.db
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/current/standalone.v1.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/configuration/standalone_xml_history/standalone.boot.xml
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/data/apicurio.mv.db
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/log/server.log
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/log/audit.log
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/log/audit.log
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/log/server.log
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/log/server.log
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/log/server.log
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/log/server.log.2023-06-12
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/log/server.log.2023-06-14
distro/server/apicurio-studio-0.2.62-SNAPSHOT/standalone/tmp/startup-marker
distro/server/apicurio-studio-0.2.62-SNAPSHOT/bin/example.zip
