<div class="panel panel-default panel-documents">
    <div class="panel-heading">
        <h3 class="panel-title">Documents</h3>
    </div>
    <div class="panel-body">
        <ul class="nav nav-documents">
            <li role="presentation" [class.active]="tab === 'devops'"><a [routerLink]="['/documents/devops']">DevOps</a></li>
            <li role="presentation" [class.active]="tab === 'monitoring'"><a [routerLink]="['/documents/monitoring']">Monitoring</a></li>
            <li role="presentation" [class.active]="tab === 'miscellaneous'"><a [routerLink]="['/documents/miscellaneous']">Miscellaneous</a></li>
        </ul>
    </div>
</div>
